*{
    Box-Sizing: Border-Box;
}

Html{
Height: 100%;
}
Body{
Width: 100%;
Margin: 0;
Font-Family: Poppins, Helvetica, Sans-Serif;
Font-Weight: 400;
Background:#0b0624;
Color:white;
}



.Container{
Margin: 0 Auto;
Width: 100%;
Max-Width: 1140px;
Text-Align: Center;
Font-Size: 0;
}


.Btn{
    Position: Relative;
    Display: Inline-Block;
    Margin: 15px;
    Padding: 15px 30px;
    Text-Align: Center;
    Font-Size: 16px;
    Letter-Spacing: 1px;
    Text-Decoration: None;
    Color: #Ffffff;
    Background: #b5e1e6;
    Border: None;
    Border-Radius: 10px;
    Cursor: Pointer;
    Transition: Ease-Out 0.5s;
    }
    
.Btn.Btn-Slide-0{
    Box-Shadow: Inset 0 0 0 0 #303439;
    }
    .Btn.Btn-Slide-0:Hover{
    Box-Shadow: Inset 0 200px 0 0 #303439;
    }

.Btn{
Position: Relative;
Display: Inline-Block;
Margin: 15px;
Padding: 15px 30px;
Text-Align: Center;
Font-Size: 16px;
Letter-Spacing: 1px;
Text-Decoration: None;
Color: #Ffffff;
Background:#76bcc4;
Border: None;
Border-Radius: 50px;
Cursor: Pointer;
Transition: Ease-Out 0.5s;
}


.Btn.Btn-Slide-1{
Box-Shadow: Inset 0 0 0 0 #303439;
}
.Btn.Btn-Slide-1:Hover{
Box-Shadow: Inset 0 200px 0 0 #303439;
}


.Btn.Btn-Slide-2{
Box-Shadow: Inset 0 0 0 0 #303439;
}
.Btn.Btn-Slide-2:Hover{
Box-Shadow: Inset 0 -100px 0 0 #303439;
}


.Btn.Btn-Slide-3{
Box-Shadow: Inset 0 0 0 0 #303439;
}
.Btn.Btn-Slide-3:Hover{
Box-Shadow: Inset 200px 0 0 0 #303439;
}

.Btn.Btn-Slide-4{
Box-Shadow: Inset 0 0 0 0 #303439;
}
.Btn.Btn-Slide-4:Hover{
Box-Shadow: Inset -200px 0 0 0 #303439;
}


.Btn.Btn-Slide-5{
Box-Shadow: Inset 0 0 0 0 #303439;
}
.Btn.Btn-Slide-5:Hover{
Box-Shadow: Inset 0 0 0 25px #303439;
}

.Btn{
    Position: Relative;
    Display: Inline-Block;
    Margin: 15px;
    margin-top:10px;
    Padding: 10px 20px;
    Text-Align: Center;
    Font-Size: 16px;
    Letter-Spacing: 1px;
    Text-Decoration: None;
    Color: #Ffffff;
    Background:#76bcc4;
    Border: None;
    Border-Radius: 50px;
    Cursor: Pointer;
    Transition: Ease-Out 0.5s;
    }
    .Btn.Btn-Slide-6{
        Box-Shadow: Inset 0 0 0 0 #303439;
        }
        .Btn.Btn-Slide-6:Hover{
        Box-Shadow: Inset 0 0 0 25px #303439;
        }
        .Btn.Btn-Slide-7{
            Box-Shadow: Inset 0 0 0 0 #303439;
            margin-left:1170px;
            border-radius: 10px;
            margin-top:10px;
            
            }
            .Btn.Btn-Slide-7:Hover{
            Box-Shadow: Inset 0 0 0 25px #303439;
            }
    
       




   



form{
    position: relative;
    margin-top:-120px;
    left: 93%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    Background:#76bcc4;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover{
    width: 200px;
    cursor: pointer;
}
form:hover input{
    display: block;
}
form:hover .fa{
    background:#76bcc4;
    color: white;
}

.text-animation h1{
     color:#fff;
     text-shadow: 0 0 1px #76bcc4,
     0 0 10px #76bcc4,0 0 15px #76bcc4,
     0 0 10px #76bcc4,0 0 25px #76bcc4,
     0 0 10px #76bcc4,0 0 35px #76bcc4;
     font-size: 4rem;
     text-align: center;
     margin-top: 100px;
    }
    .text-animation p{
        color:#fff;
        text-shadow: 0 0 1px #76bcc4,
        0 0 10px #76bcc4,0 0 15px #76bcc4,
        0 0 10px #76bcc4,0 0 25px #76bcc4,
        0 0 10px #76bcc4,0 0 35px #76bcc4;
        font-size: 2rem;
        text-align: center;
        margin-top:-30px;
       }


    

.image img{
    width:20%;
    height:20%;
    position:relative;
    margin-left:1080px;
    margin-top:400px;
}

.image1 pre{
    font-size:13px;
    
    text-align:center;
    margin-left:200px;
    margin-top:-600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.image1 h1{
    color:#fff;
    text-shadow: 0 0 1px #d4660d,
    0 0 10px #d4660d,0 0 15px #d4660d,
    0 0 10px #d4660d,0 0 25px #d4660d,
    0 0 10px #d4660d,0 0 35px #d4660d;
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
   
    margin-left:20px;
    font-size:50px;
    margin-top:200px;
    
    position: relative;
}

.logo img{
    width:20%;
    height:20%;
    position:relative;
    

}
.logo h1{
    color:#fff;
     text-shadow: 0 0 1px #76bcc4,
     0 0 10px #76bcc4,0 0 15px #76bcc4,
     0 0 10px #76bcc4,0 0 25px #76bcc4,
     0 0 10px #76bcc4,0 0 35px #76bcc4;
     font-size: 4rem;
     
     margin-top: 100px;
    
    margin-left:300px;
    font-size:50px;
    margin-top:-250px;
   
}
.logo pre{
    font-size:18px;
    justify-content:first baseline;

    text-align:center;
    margin-left:-490px;
    margin-top:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo1 img{
    width:30%;
    height:30%;
    position:relative;
    margin-left:1000px;
    
}
.logo1 h1{
    color:#fff;
     text-shadow: 0 0 1px #ded226,
     0 0 10px #ded226,0 0 15px #ded226,
     0 0 10px #ded226,0 0 25px #ded226,
     0 0 10px #ded226,0 0 35px #ded226;
     font-size: 4rem;
     
    margin-left:600px;
    font-size:50px;
    margin-top:-200px;
    

}
.logo1 pre{
    font-size:18px;
    text-align:justify;
    
    text-align:center;
    margin-left:300px;
    margin-top:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



