body{
    background-color: #344a72;
    font-family:'Roboto',sans-serif;
}

.signup{
    width: 360px;
    height:620px;
    margin:auto;
    background-color: #76bcc4;
    border-radius: 3px;

}
h1{
    text-align: center;
    padding-top:15px;
    color:aqua;


}
h4{
    text-align: center;
}
form{
    width:300px;
    margin-left:500px;


}
form label{
    display: :flex;
    margin-top:20px;
    font-size:18px;

}
form input{
    width:100%;
    padding:7px;
    border:none;
    border:1px #76bcc4;
    border-radius:10px;
    outline:none;

}

input[type="button"]{
    width:320px;
    height:35px;
    margin-top: 20px;
    border:none;
    background-color: #49c1a2;
    color:white;
    font-size:18px;

}
p{
    text-align: center;
    padding-top:20px;
    font-size:15px;

}
.para1 a{
    text-align: center;
    color:mediumseagreen;
}

.para{
    text-align: center;
    color:white;
    font-size:15px;
    margin-top:-10px;
}
.para a{
    color:mediumseagreen;
}

