/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}



nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    
    transition: all 0.3s ease;
    background-color: hwb(225 75% 21%);

    font-family:'Poppins', sans-serif;
  }
  
 

nav .navbar{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a{
    font-size: 25px;
    font-weight: 500;
    color:#4070f4;

}



nav .navbar .menu{
    display: flex;
    position: relative;
    
}
nav .navbar .menu li{
    list-style:none;
    margin:0 10px;

}

.navbar .menu a{
    font-size: 20px;
    font-weight:500;
    color:black;
    padding:6px 0;
    transition: all 0.5s ease;
}
.navbar .menu a:hover{
    color: #4070f4;
  }

nav.sticky .menu a:hover{
    color:#4070f4;
}

nav.sticky .menu a{
    color:#fff;
}
nav.sticky .menu a:hover{
    color:#0E2431;
}

.navbar .media a{
    color:#4070f4;
    font-size:20px;
    margin:0 6px;
}

.navbar .media a:hover{
    color:hsl(224, 6%, 51%);
}

.home{
    height:100vh;
    width:100%;
    
    font-family: 'Poppins', sans-serif;
}
.home .home_content{
    width:30%;
    height:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text1{
    font-size: 25px;
    color:black;
}

.home .text2{
    color:black;
    font-size:40px;
    font-weight: 600;
    transition:1s linear;
    
}
.home .text2:hover{
    transform: scale(1.1);

}
.home .text3{
    color:#4070f4;
    font-size:25px;
    margin:5px 0;    
    animation: leftin 0.5s linear;
    text-shadow: 1px 1px 1px white;

}
@keyframes leftin {
    0%{
        transform: translateX(-200%);
    }
}
.home .button{
    margin:14px 0;
}
.home .button button{
    font-size:25px;
    border-radius: 5px;
    font-weight: 500;
    padding:6px 12px;
    background: #4070f4;
    color:#fff;
    cursor:pointer;
    border:2px solid transparent;
    transition: all 0.5s ease;

}

.home .button button:hover{
    background-color:hsl(224, 16%, 56%);
    border-color:#fff;
    color:hsl(223, 14%, 44%);
}
.home .title{
    width:75%;
    height:10%;
    font-size: 35px;
    font-weight: 700;
    margin:auto;
    
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
   
    animation: rightin 0.5s linear;
}

@keyframes rightin {
    0%{
        transform: translateX(200%);
    }
}
.home .content{
    justify-content: justify;
    width:68%;
    
    margin:auto;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

    line-height: 30px;
    text-align: justify;
}

.details .education{

    
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;
    margin-top: 200px;
    
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
   
}
 .details .lists{
    display: flex;
    flex-direction: column;
    margin:0 3px;
    list-style-type:square;
 }


 .lists_details>div>p{
    text-align: center;
    font-size:18px;
    font-weight: 500;
    color: hwb(214 22% 75%);
    font-family:'Poppins', sans-serif;


 }
 .lists_details h2{
    text-align:center;
    justify-content:center;
    font-family:'Poppins', sans-serif;
    font-size:20px;
    letter-spacing: 2px;

 }

 .line{
    width:80%;
    margin: auto;
 }

 .skills{
    padding:40px;
 }

 .title1{
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;

    
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
   

 }
 .skill_img{
    margin-left:500px;
    width:100px;
    height:100px;
    position:relative;
    display: flex;
    justify-content: center;
    
 }
 .skill1_img{
    margin-left:750px;
    margin-top:-90px;
    width:100px;
    height:100px;
    position:relative;
    display: flex;
    justify-content: center;
    
 }

 .skill2_img{
    margin-left:910px;
    margin-top:-92px;
    width:100px;
    height:100px;
    position:relative;
    display: flex;
    justify-content: center;
    
 }

 .skill2 h4{
    margin-top: -32px;
    margin-left: 930px;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight:900;
    
 }
  .pt{
    margin-top: -130px;
    margin-left: 710px;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight:900;
 }
 .line1{
    width:80%;
    margin: auto;
    margin-top:10px;
 }

 .skills .column_right .bars{
    
    width:50%;
    height:70%;
    margin-left:370px;
    
    padding: 10px;
    position: relative;
    
 }


 .skills .column_right .info{
    display: flex;
    margin-bottom:5px;
    align-items: center;
    justify-content: space-between;
 }

 .skills .column_right span{
    font-weight:500;
    font-size:18px;
    font-family:'Poppins', sans-serif;
 }

 .skills .column_right .line3{
    height:5px;
    width:100%;
    background: lightgrey;
    position:relative;
 }

 .skills .column_right .line3::before{
    content:"";
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    background: #4070f4;


 }

 .skills .column_right .html::before{
    width: 90%;
}
.skills .column_right .css::before{
    width: 70%;
}
.skills .column_right .js::before{
    width: 50%;
}
.skills .column_right .test::before{
    width: 60%;
}
.skills .column_right .linux::before{
    width: 60%;
}

.aboutme .classes{
    height:100vh;
    width:90%;
    
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;

}
.classes .title2{
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;
    
    display: flex;
    letter-spacing: 3px;
    color:#4070f4;

}
.aboutme .classes ul{
    
    list-style-type:square;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #59595c;
    
        
        width:70%;
        
        margin:auto;
    margin-top: -250px;
    margin-left:300px;
    padding:50px;
    letter-spacing: 2px;
    
}


.about1 .title3::after{
    content: "(who i am)";
}
.about1 .title3{
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;
    justify-content: center;
    
    display: flex;
    letter-spacing: 3px;
    color:#4070f4;


}
.about1 .about-content1 .left1{
    width:90%;
    margin: auto;
}
.about1 .about-content1 .left1 img{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
