/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    
    transition: all 0.3s ease;
    background-color: hwb(225 75% 21%);

    font-family:'Poppins', sans-serif;
  }
  
 

nav .navbar{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a{
    font-size: 25px;
    font-weight: 500;
    color:#4070f4;

}
nav .navbar .menu{
    display: flex;
    position: relative;
    }
nav .navbar .menu li{
    list-style:none;
    margin:0 10px;

}
.navbar .menu a{
    font-size: 20px;
    font-weight:500;
    color:black;
    padding:6px 0;
    transition: all 0.5s ease;
}
.navbar .menu a:hover{
    color: #4070f4;
  }

nav.sticky .menu a:hover{
    color:#4070f4;
}

nav.sticky .menu a{
    color:#fff;
}
nav.sticky .menu a:hover{
    color:#0E2431;
}

.navbar .media a{
    color:#4070f4;
    font-size:20px;
    margin:0 6px;
}

.navbar .media a:hover{
    color:hsl(224, 6%, 51%);
}

.home{
    height:100vh;
    width:90%;
    display: flex;
    margin:auto;
    font-family: 'Poppins', sans-serif;
    background-color:#afafb6;
}
.home .home_content{
    width:30%;
    height:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text1{
    font-size: 25px;
    color:black;
}

.home .text2{
    color:black;
    font-size:40px;
    font-weight: 600;
    transition:1s linear;
    
}
.home .text2:hover{
    transform: scale(1.1);

}
.home .text3{
    color:#4070f4;
    font-size:25px;
    margin:5px 0;    
    animation: leftin 0.5s linear;
    text-shadow: 1px 1px 1px white;

}
@keyframes leftin {
    0%{
        transform: translateX(-200%);
    }
}
.home .button{
    margin:14px 0;
}
.home .button button{
    font-size:25px;
    border-radius: 5px;
    font-weight: 500;
    padding:6px 12px;
    background: #4070f4;
    color:#fff;
    cursor:pointer;
    border:2px solid transparent;
    transition: all 0.5s ease;

}

.home .button button:hover{
    background-color:hsl(224, 16%, 56%);
    border-color:#fff;
    color:hsl(223, 14%, 44%);
}
 .title{
    width:75%;
    height:10%;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin:auto;
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
    animation: rightin 0.5s linear;

}

@keyframes rightin {
    0%{
        transform: translateX(200%);
    }
}
 .content{
    justify-content: justify;
    width:68%;
    margin:auto;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    text-align: justify;
}


.details .education{
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;
    margin-top: 70px;
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
   }
 .details .lists{
    display: flex;
    flex-direction: column;
    margin:0 3px;
    list-style-type:square;
 }


 .lists_details>div>p{
    text-align: center;
    font-size:18px;
    font-weight: 500;
    color: hwb(214 22% 75%);
    font-family:'Poppins', sans-serif;


 }
 .lists_details h2{
    text-align:center;
    justify-content:center;
    font-family:'Poppins', sans-serif;
    font-size:20px;
    letter-spacing: 2px;

 }

 .line{
    width:80%;
    margin: auto;
 }

 .skills{
    padding:40px;
 }

 .title1{
    width:75%;
    height:50%;
    font-size: 35px;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    margin:auto;
    display: flex;
    letter-spacing: 5px;
    color:#4070f4;
   }

  
 
 .line1{
    width:80%;
    margin: auto;
    margin-top:10px;
 }

 .skills .column_right .bars{
     width:50%;
    height:70%;
    margin-left:370px;
    padding: 10px;
    position: relative;
    }


 .skills .column_right .info{
    display: flex;
    margin-bottom:5px;
    align-items: center;
    justify-content: space-between;
 }

 .skills .column_right span{
    font-weight:500;
    font-size:18px;
    font-family:'Poppins', sans-serif;
 }

 .skills .column_right .line3{
    height:5px;
    width:100%;
    background: lightgrey;
    position:relative;
 }

 .skills .column_right .line3::before{
    content:"";
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    background: #4070f4;
 }

 .skills .column_right .html::before{
    width: 90%;
}
.skills .column_right .css::before{
    width: 70%;
}
.skills .column_right .js::before{
    width: 50%;
}
.skills .column_right .test::before{
    width: 60%;
}
.skills .column_right .linux::before{
    width: 60%;
}



 
.acheive{
    padding-top:10px;
}

section .contents{
    width:80%;
    margin:40px auto;
}

.acheive .content-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .heading{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;

}

section .heading span{
    color:#4070f4;
    font-size: 30px;
    position: relative;
    font-weight:600;
    padding-bottom: 8px;

}

section .heading span::before,
section .heading span::after{
    content:"";
    position:absolute;
    height:3px;
    width:100%;
    background:#6e8b9c;
    left:0;
    bottom:0;

}

section .heading span::after{
    bottom:-7px;
    width:70%;
    left:50%;
    transform: translate(-50%);

}

.acheive .content-details .left{
    width:30%;
}


.acheive .left img{
    height:300px;
    width:200px;
    object-fit: cover;
    border-radius: 12px;
}

.content-details .right{
    width:100%;
}


section .topic{
    color:#476475;
    font-size:25px;
    font-weight:700;
    margin-bottom: 10px;
    font-family:'Poppins', sans-serif;

}
.content-details .right>ul{
    font-family:'Poppins', sans-serif;
    font-size:18px;
    font-weight: 200;
    padding:10px;
    line-height: 50px;
    color: #0E2431;
}

section .button1{
    margin:16px 0;
}


section .button1 .bu2{
    outline:none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 25px;
    font-weight:400;
    background: #4070f4;
    color:#fff;
    border:2px solid transparent;
    cursor:pointer;
    transition: all 0.4s ease;
}

section .button1 .bu2:hover{
    border-color:#4070f4;
    background-color: #fff;
    color:#4070f4;

}





 
.about2{
    padding-top:10px;
}

section .contents1{
    width:80%;
    margin:40px auto;
}

.about2 .content-details1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .heading1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size:35px;
    font-weight:800;
    color:#4070f4;

}
.content-details1 .right1>p{
    font-family:'Poppins', sans-serif;
    font-size:18px;
    font-weight: 200;
    padding:10px;
    line-height: 50px;
    color: #0E2431;
}

.contact-me{
    text-align:center;
    font-family:'Poppins', sans-serif;
    font-size:35px;
    color:#4070f4;
    font-weight:800;
}
.contacting{
    width: 75%;
    height:55%;
    margin:auto;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 50px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background:#afafb6;
}

.contacting .content2{
    display:flex;
    align-items:center;
    justify-content: space-between;

}


.contacting .content2 .left-side{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:15px;
    position:relative;
}

.content2 .left-side::before{
    content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content2 .left-side .details{
    margin:14px;
    text-align: center;
}

.content2 .left-side .details i{
    font-size: 30px;
  color:#4070f4;
  margin-bottom: 10px;
}

.content2 .left-side .details .address{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
  }

  .content2 .left-side .details .text-one,
.content2 .left-side .details .text-two{
  font-size: 14px;
  color:#365669;
  font-weight:500;
  font-family: 'Poppins', sans-serif;
}

.contacting .content2 .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content2 .right-side .topic-text{
    font-size: 25px;
    font-weight: 600;
    color:#4070f4;
    margin-top:-150px;
    
  }
  .content2 .right-side>p{
    font-size: 18px;
    font-weight: 300;
    color:#476475;
    margin-bottom:70px;
    width:100%;
  }
  .content2 .right-side>p{
    border-style:double;
  }
  
  
  .foot{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:30px;
    margin-left:50px;
    margin-bottom: -55px;
    
    
  }

  .forms{
    display:flex;
    margin-top:10px;
    padding:30px;
    border-style:ridge;
    border-color: #476475;

  }
  .forms label{
    font-family:'Poppins', sans-serif;
    color:#6978a3;

  }
  .forms input{
    display: block;
    width:200px;
    height:30px;
    margin-bottom:10px;
    outline:none;
    border:1px solid #4070f4;
    border-radius:5px;
  }

  .forms textarea{
    display: block;
    width: 240px;
    height: 190px;
    margin-top:10px;
    outline: none;
    border:1px solid #4070f4;
    border-radius: 5px;
}
.form-btn{
    width:80px;
    height: 35px;
    border:1px solid #4070f4;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: block;
    margin:0px auto;
}

.form-btn:hover{
    background-color:#4070f4;
    color: #fff;
}
.form-btn:hover:after{
    content: '\00bb';
    position: absolute;
    margin-left: 5px;
    opacity: 1;
}

/* Media */

@media(max-width:500px)
{
    .mobnav{
        display: flex;
        flex-direction: column;
        gap:5px;
    }
 .mobnav span{
    border:2px solid red;
    width:10%;
 }
 .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:20px;
 }
 .navbar{
    position:fixed;
    top:0;
    left:0;
    width:70vw;
    height:90vh;
    background-color: #365669;
    z-index:1;
    opacity:0.7;
    display: none;
 }
   
    
     .menu li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        font-family: "space mono",monospace;
    
     }
     
    
   
}