/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
html {
    scroll-snap-type: mandatory;
}
body {
    background: #b7c6d6;
}
.preloader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8dadab;
    z-index: 9999;
}
.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #1d211cbc;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(174, 168, 168, 0.498);

}

.preloader span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}
@keyframes text {
    50% {
        color: black;
    }
}
nav {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 998;
    padding: 0px 0;
    transition: all 0.3s ease;
    background-color: hwb(225 75% 21%);
    font-family: 'Poppins', sans-serif;
}
nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .navbar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: #4070f4;

}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 10px;

}

.navbar .menu a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 6px 0;
    transition: all 0.5s ease;
}

.navbar .menu a:hover {
    color: #4070f4;
}

nav.sticky .menu a:hover {
    color: #4070f4;
}

nav.sticky .menu a {
    color: #fff;
}

nav.sticky .menu a:hover {
    color: #0E2431;
}

.navbar .media a {
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
}

.navbar .media a:hover {
    color: hsl(224, 6%, 51%);
}



.hero-img {
    width: 200px;
    border-radius: 50%;
    transition: 1.5s;
    cursor: pointer;
}

.hero-img:hover {
    transform: scale(1.1);
}
.home {
    height: 100vh;
    width: 80%;
    border-radius: 20px;
    display: flex;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #676f74;
    background: linear-gradient(45deg, rgb(189, 189, 221), rgb(59, 49, 32), rgb(65, 188, 197), rgb(117, 69, 77));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.home .media2 {
    display: none;
}
.home .home_content {
    width: 100%;
    height: 100vh;
}

.hero-content {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .text1 {
    font-size: 25px;
    text-shadow: #afafb6;
    margin-top: 5px;
}

.home .text2 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    transition: 1s linear;
    animation: rightin 0.5s linear;
}

.home .text2:hover {
    transform: scale(1.1);

}

@keyframes rightin {
    0% {
        transform: translateX(-200%);
    }
}

.home .text3 {
    color: #014668;
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0;
    animation: leftin 0.5s linear;
    text-shadow: 1px 1px 1px white;

}


@keyframes leftin {
    0% {
        transform: translateX(-200%);
    }
}

#text {
    color: #365669;
    text-shadow: 1px 1px 1px #4070f4;
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    display: inline-block;
    padding: 12px 28px;
    background: #4070f4;
    border-color: #476475;
    border-radius: 20px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.home .button button:hover {
    box-shadow: 0 0 5px hsl(224, 89%, 60%),
        0 0 25px hsl(231, 31%, 47%), 0 0 50px hsl(224, 28%, 43%),
        0 0 100px hsl(333, 9%, 81%), 0 0 200px hsl(224, 19%, 57%);
}

.title {
    width: 75%;
    height: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    display: flex;
    letter-spacing: 5px;
    color: #4070f4;
    animation: rightin 0.5s linear;

}

@keyframes rightin {
    0% {
        transform: translateX(200%);
    }
}

.content {
    justify-content: justify;
    width: 68%;
    margin: auto;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    text-align: justify;
}


.timeline{
    position: relative;
    max-width: 1000px;
    margin:100px auto;
  }
  .container1{
    padding:10px 50px;
    position: relative;
    width:50%;
    border-radius: 20px;
  
  }
  .container1:hover{
    transform: scale(1.1);
  }
  .text-box{
    padding:20px 20px;
    background: rgb(148, 143, 148);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, rgb(220, 220, 224), rgb(203, 191, 170), rgb(65, 188, 197), rgb(117, 69, 77));
    background-size: 400% 400%;
    animation: gradientAnimation2 15s ease infinite;
}

@keyframes gradientAnimation2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
  
  .left-container{
    left:0;
  }
  .right-container{
    left:50%;
  }
  .container1 img{
     position: absolute;
     width:40px;
     border-radius: 50%;
     right:-20px;
     top:32px;
     z-index:10;

  }

  .right-container img{
    left:-20px;
  }
  .timeline::after{
    content: "";
    position: absolute;
    width:6px;
    height:100%;
    background: #fff;
    top:0;
    left:50%;
    margin-left:-3px;
    z-index: -1;
  }
  .text-box h2{
    font-weight: 600;
    color:#4070f4;
  }
  
.line {
    width: 80%;
    margin: auto;
}

.skills {
    padding: 40px;

}

.title1 {
    width: 75%;
    height: 50%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: auto;
    display: flex;
    letter-spacing: 5px;
    color: #4070f4;
}



.line1 {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.skills .column_right .bars {
    width: 50%;
    height: 70%;

    margin: 0 300px;
    padding: 10px;
    position: relative;
}


.skills .column_right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .column_right span {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.skills .column_right .line3 {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .column_right .line3::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #4070f4;
}

.skills .column_right .html::before {
    width: 90%;
}

.skills .column_right .css::before {
    width: 70%;
}

.skills .column_right .js::before {
    width: 50%;
}

.skills .column_right .test::before {
    width: 60%;
}

.skills .column_right .linux::before {
    width: 60%;
}




.acheive {
    padding-top: 10px;
}

section .contents {
    width: 80%;
    margin: 40px auto;
}

.acheive .content-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .heading {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;

}

section .heading span {
    color: #4070f4;
    font-size: 30px;
    position: relative;
    font-weight: 600;
    padding-bottom: 8px;

}

section .heading span::before,
section .heading span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #6e8b9c;
    left: 0;
    bottom: 0;

}

section .heading span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translate(-50%);

}

.acheive .content-details .left {
    width: 30%;
}




.content-details .right {
    width: 100%;
}


section .topic {
    color: #476475;
    font-size: 25px;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;

}

.content-details .right>ul {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 0 40px;
    padding: 10px;
    line-height: 50px;
    color: #0E2431;
}

section .button1 {
    margin: 16px 0;
}


section .button1 .bu2 {
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    margin: 0 40px;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button1 .bu2:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;

}

.topic1 {

    color: #4070f4;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;


}

.Certificate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 50px 50px;
    padding: 50px 50px;
}

.Certificate .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    max-width: 70%;
    height: 280px;
    background: #4070f4;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.Certificate .card:hover {
    height: 320px;
}

.Certificate .card .img-box {
    position: absolute;
    top: 30px;
    width: 280px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;

}

.Certificate .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.Certificate .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Certificate .card .paragraph {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.Certificate .card:hover .paragraph {
    top: 130px;
    height: 200px;
    font-size: 18px;
    font-weight: 200;

}

.Certificate .card .paragraph h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.Certificate .card .paragraph p {
    color: #fff;

}


@media (max-width: 480px) {
    .Certificate .card {
        width: 230px;
        border-radius: 15px;
    }

    .Certificate .card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .Certificate .card .paragraph p {
        font-size: 0.8rem;
    }

    .Certificate .card .paragraph a {
        font-size: 0.9rem;
    }
}




#img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about2 {
    padding-top: 10px;
}

section .contents1 {
    width: 80%;
    margin: 40px auto;
}

.about2 .content-details1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .heading1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #4070f4;

}

.content-details1 .right1>p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    margin: 0 40px;
    padding: 10px;
    line-height: 50px;
    color: #0E2431;
}

.contact-me {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #4070f4;
    font-weight: 800;
}

.contacting {
    width: 75%;
    height: 55%;
    margin: auto;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 50px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #afafb6;
}

.contacting .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.contacting .content2 .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content2 .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content2 .left-side .details {
    margin: 14px;
    text-align: center;
}

.content2 .left-side .details i {
    font-size: 30px;
    color: #4070f4;
    margin-bottom: 10px;
}

.content2 .left-side .details .address {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

.content2 .left-side .details .text-one,
.content2 .left-side .details .text-two {
    font-size: 14px;
    color: #365669;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.contacting .content2 .right-side {
    width: 75%;
    margin-left: 75px;
}

.content2 .right-side .topic-text {
    font-size: 25px;
    font-weight: 600;
    color: #4070f4;
    margin-top: -150px;

}

.content2 .right-side>p {
    font-size: 18px;
    font-weight: 300;
    color: #476475;
    margin-bottom: 70px;
    width: 100%;
}

.content2 .right-side>p {
    border-style: double;
}


.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 50px;
    margin-bottom: -55px;


}

.forms {
    display: flex;
    margin-top: 10px;
    padding: 30px;
    border-style: ridge;
    border-color: #476475;

}

.forms label {
    font-family: 'Poppins', sans-serif;
    color: #6978a3;

}

.forms input {
    display: block;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #4070f4;
    border-radius: 5px;
}

.forms textarea {
    display: block;
    width: 240px;
    height: 190px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #4070f4;
    border-radius: 5px;
}

.form-btn {
    width: 80px;
    height: 35px;
    border: 1px solid #4070f4;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: block;
    margin: 0px auto;
}

.form-btn:hover {
    background-color: #4070f4;
    color: #fff;
}

.form-btn:hover:after {
    content: '\00bb';
    position: absolute;
    margin-left: 5px;
    opacity: 1;
}

.icons {
    display: none;
}

/* Media */
@media only screen and(max-width:1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and(max-width:1100px) {
    header {
        padding: 0 30px;
    }
}

@media(max-width:650px) {

    .logo {
        display: none;
    }

    .media {
        display: none;
    }


    .mobnav {
        display: block;
        cursor: pointer;
        padding: 10px 0 0px 10px;
    }

    .mobnav .line {
        width: 20px;
        height: 3px;

        background-color: #476475;
        margin: 6px 10px;
        border: 1px solid #4070f4;
    }

    .timeline{
        margin:50px auto;

    }
    .timeline::after{
        left:31px;
    }
    .container1{
        width:100%;
        padding-left:80px;
        padding-right:25px;

    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }
    .left-container img, .right-container img{
        left:10px;
    }

    .navbar {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: #476475;
        transition: 0.2s;
        overflow: hidden;



    }

    .navbar.active {
        height: 450px;
    }

    .navbar .menu {

        display: block;
        flex-direction: column;
        gap: 50px;
        width: fit-content;
        margin: 80px auto 0 auto;
        transition: 0.5;
        opacity: 2.5;



    }

    .navbar .menu li a {
        margin-bottom: 12px;
        color: #c2bfcc;
    }

    .navbar.active li {
        opacity: 2.5;

    }



    .home {
        height: 90vh;
        width: 80%;
        display: flex;
        margin: auto;
        background: none;
        background-color: #676f74;
        background: linear-gradient(45deg, rgb(146, 175, 212), rgb(103, 99, 158), rgb(65, 188, 197), rgb(111, 133, 139));
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }



    .home .home_content {
        width: 70%;
        height: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home .text1 {
        font-size: 20px;
        color: black;
    }

    .home .text2 {
        color: black;
        font-size: 16px;
        font-weight: 600;
        transition: 1s linear;

    }

    .home .text3 {

        font-size: 14px;
    }

    .media {
        display: none;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        border-style: ridge;
        border-color: #4070f4;
        background-color: #c2bfcc;

    }

    .icons a {
        color: #4070f4;
        font-size: 20px;
        margin: 0 6px;
    }

    .icons a:hover {
        color: hsl(224, 6%, 51%);
    }



    .home .button button {

        font-size: 20px;
        border-radius: 5px;
        font-weight: 400;
        padding: 2px 0px;

    }

    .title {
        margin: 0 30px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .content {
        width: 80%;
        margin: 0 30px;
        font-size: 15px;
        letter-spacing: normal;
        text-align: justify;

    }

    .details {

        margin: auto;

    }

    .lists_details {
        width: 80%;

        margin: 0 40px;
        text-align: justify;
        list-style-type: disc;
    }

    .details .education {
        width: 80%;
        height: 10%;
        font-size: 20px;
        margin: auto;
        margin-top: 30px;
        display: flex;
        letter-spacing: 5px;
        color: #4070f4;
    }

    .details .lists {

        display: flex;
        flex-direction: column;
        margin: 0 15px;
        list-style-type: square;
    }


    .lists_details>div>p {

        font-size: 15px;
        margin: 10px;
        font-weight: 500;
        color: hwb(214 22% 75%);
        font-family: 'Poppins', sans-serif;


    }

    .lists_details h3 {
        margin: 0 15px;
        margin-top: 15px;

        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        letter-spacing: 2px;

    }

    .skills .title1 {
        margin-left: 20px;
        font-size: 20px;
    }

    .skills .column_right .bars {
        width: 80%;
        height: 70%;
        margin-left: 40px;
        padding: 10px;
        position: relative;
    }

    .acheive {
        padding-bottom: 20px;
    }

    section .contents {
        width: 90%;
        margin: 40px auto;
    }


    section .heading {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;

    }

    section .heading span {
        color: #4070f4;
        font-size: 20px;
        position: relative;
        font-weight: 600;
        padding-bottom: 8px;

    }

    .content-details .right {
        width: 100%;
        height: 60%;
        margin: auto;

    }


    section .topic {
        color: #476475;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin: 0 15px;

    }

    .content-details .right>ul {

        font-size: 15px;
        text-align: justify;


        font-weight: 200;
        padding: 5px;
        line-height: 40px;



    }

    section .button1 {
        margin: 16px 0;
    }


    section .button1 .bu2 {
        outline: none;
        padding: 8px px;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 400;
        background: #4070f4;
        color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .about2 {
        padding-top: 10px;
    }

    section .contents1 {
        width: 80%;
        margin: 0 30px;

    }



    section .heading1 {
        display: flex;
        justify-content: center;

        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-weight: 800;
        color: #4070f4;

    }

    .content-details1 .right1>p {

        text-align: justify;
        padding: 10px;
        line-height: 35px;
        font-size: 15px;

    }


    .contacting {
        width: 97%;
        height: 55%;
        margin: 10px;
        background: #fff;

        padding: 20px 60px 50px 50px;

        background: #afafb6;
    }




    .contacting .content2 .left-side {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        position: relative;
    }





    .contacting .content2 .right-side {
        display: none;
    }

    .content2 .right-side .topic-text {
        display: none;

    }

    .content2 .left-side .details i {
        font-size: 20px;
        color: #4070f4;
        margin-bottom: 10px;
    }

    .content2 .left-side .details .address {
        font-size: 12px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;

    }

    .content2 .left-side .details .text-one,
    .content2 .left-side .details .text-two {
        font-size: 12px;
        color: #365669;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }






    .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-left: 20px;
        margin-bottom: -55px;


    }

    .forms {
        display: flex;
        margin-top: 10px;
        padding: 20px;

        border-color: #476475;

    }

    .forms input {
        display: block;
        width: 120px;
        height: 20px;
        margin-bottom: 10px;
        outline: none;

    }

    .forms textarea {
        display: block;
        width: 150px;
        height: 120px;
        margin-top: 10px;

    }

    .form-btn {
        width: 70px;
        height: 35px;
        border: 1px solid #4070f4;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        display: block;
        margin: 0px auto;
    }









}