.Animation{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.bubbies{
    position:relative;
    display:flex;
}

.bubbies span{
    position:relative;
    width:30px;
    height:30px;
    background:#4fc3dc;
    margin:0 4px;
    border-radius:50%;
    box-shadow:0 0 0 10px #086581;
    0 0 50px #086581,
    0 0 100px #086581;
    animation:animate 15s linear infinite;
    animation-duration:cal (125s/var(--i));
}

.bubbies span:nth-child(even){
    background:#ff2d75;
    box-shadow:0 0 0 10px #ff2d75;
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}


@keyframes animate{
    0%
    {
        transform:translateY(100vh)scale(0);
    }
    100%
    {
        transform:translateY(-10vh)scale(1);
    }
}